@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald&family=Teko:wght@300;400;500&display=swap');

:root {
    --red: #EE5C14;
    --lightgray: #B2BEBF;
    --gray: #889C9B;
    --boldgray: #486966;
    --boldergray: #3B3936;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.fundo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white; 
    z-index: 10;
    border-bottom: 1px solid var(--lightgray);
}

#logo-nome {
    display: flex;
    align-items: center;
}

header > h1 {
    font-family: 'Abril Fatface', cursive; 
    font-weight: normal;  
    font-size: 2.8em;
}

header a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    gap: 35px;
    margin-right: 10px;
    align-items: center;
}

nav > a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    color: black;
}

nav > a:hover {
    color: var(--boldgray);
    transition-duration: 0.5s;
}

#perfil {
    height: 30px;
    width: 30px;
}

main {
    padding-top: 80px;
}

#entrada {
    background-image: url('images/tokyo-skytree.jpg');
    height: 870px;
    width: 100%;
}

#conteudo-entrada {
    width: 1230px;
    position: absolute;
    top: 250px;
    left: 80px;
}

#conteudo-entrada > h1 {
    color: white;
    font-family: 'Oswald', sans-serif;;
    font-size: 5.5em;
    text-shadow: 4px 5px 3px rgba(0, 0, 0, 0.425);
}

#conteudo-entrada > p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    margin-top: 30px;
}

#botao-entrada {
    width: 240px;
    height: 50px;
    border-radius: 50px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
    border: 2px solid var(--red);
    margin: 80px auto auto auto;
}

#botao-entrada > p {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding-top: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}

#botao-entrada:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

#avaliacoes {
    height: 200px;
}

#avaliacoes > h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.897);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 2em;
    padding-top: 30px;
}

#avaliacoes  div {
    width: 280px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: var(--boldergray);
    border-radius: 50px;
    border: 2px solid var(--boldergray);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
}

#avaliacoes div > p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    width: 280px;
    height: 50px;
}

#avaliacoes div:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

#avaliacoes div > p:hover {
    color: var(--boldergray);
    font-weight: bold;
    box-shadow: none;
    transition-duration: 0.5s;
}

#div-torres {
    position: relative;
    background-image: url('images/city-background.jpg');
    height: 600px;
    width: 100%;
}

#div-torres > h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 1.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    background-image: linear-gradient(to right, transparent, var(--boldgray), transparent);
}

#principais-torres {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#principais-torres div {
    height: 250px;
    width: 250px;
    margin: 0px 30px;
    border: 1px solid var(--lightgray);
    border-radius: 50px;   
}

#principais-torres p {
    font-family: 'Teko', sans-serif;
    color: white;
    font-weight: normal;
    padding-top: 30px;
    font-size: 2em;
    width: 250px;
    height: 250px;
    opacity: 0;
    text-align: center;
}

#big-ben {
    background-image: url('images/big-ben.jpg');
}

#brugues {
    background-image: url('images/camp-brugues.jpg');
}

#skytree {
    background-image: url('images/skytree-main.jpg');
}

#pisa {
    background-image: url('images/pisa-tower.jpg');
}

#minar {
    background-image: url('images/qutb-minar.jpg');
}

#principais-torres div:hover {
    background-image: none;
    background-color: black;
}

#principais-torres p:hover {
    opacity: 100%;
    transition-duration: 0.8s;
}

#botao-principais-torres {
    float: right;
    margin: 50px 30px auto auto;
    height: 30px;
    width: 130px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
    border: 2px solid var(--red);
}

#botao-principais-torres > p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    width: 130px;
    height: 30px;
}

#botao-principais-torres:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

#botao-principais-torres > p:hover {
    color: var(--red);
    transition-duration: 0.5s;
}

#loja {
    height: 500px;
    margin-top: 50px;
}

#loja h2 {
    width: 100%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 30px;
}

#loja-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.foto-loja {
    width: 300px;
    height: 350px;
    margin: 0px 30px;

}

.foto-loja  div {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 1px solid var(--lightgray);
}

.foto-loja h3 {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
    padding-top: 8px;
}

#foto-roupa {
    background-image: url('images/loja-tokyoskytree.jpg');
    transition-duration: 0.3s;
}

#foto-roupa:hover {
    background-image: url('images/loja-moletom-eiffel.jpg');
    transition-duration: 0.3s;
}

#foto-chaveiro {
    background-image: url('images/loja-chaveiro-sla.jpg');
    transition-duration: 0.3s;
}

#foto-chaveiro:hover {
    background-image: url('images/loja-eiffel-chaveiro.jpg');
    transition-duration: 0.3s;
}

#foto-adesivo {
    background-image: url('images/loja-eiffel-adesivo.jpg');
    transition-duration: 0.3s;
}

#foto-adesivo:hover {
    background-image: url('images/loja-eiffel-adesivo2.jpg');
    transition-duration: 0.3s;
}

#foto-bebida {
    background-image: url('images/loja-bebida1.jpg');
    transition-duration: 0.3s;
}

#foto-bebida:hover {
    background-image: url('images/loja-bebida2.jpg');
}

#botao-loja {
    width: 220px;
    height: 40px;
    border-radius: 50px;
    margin: 100px auto auto auto;
    border: 2px solid var(--red);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
}   

#botao-loja > p {
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding-top: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    height: 40px;
    width: 220px;
}

#botao-loja:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

#botao-loja > p:hover {
    color: var(--red);
    transition-duration: 0.5s;
}

#cadastro {
    height: 250px;
    margin-top: 150px;
    width: 100%;
    border-top: 2px solid var(--lightgray);
}

#cadastro > h2 {
    font-family: 'Teko', sans-serif;
    color: black;
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
}

#cadastro > p {
    font-family: 'Teko', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 20px;
}

#botao-cadastro {
    height: 50px;
    width: 280px;
    border-radius: 50px;
    margin: 20px auto auto auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
    border: 2px solid var(--red);
}

#botao-cadastro > p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.3em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    width: 280px;
    height: 50px;
    padding-top: 5px;
}

#botao-cadastro:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

#botao-cadastro > p:hover {
    color: var(--red);
    transition-duration: 0.5s;
}

#despedida {
    background-image: url('images/background-machi.jpg');
    width: 100%;
    height: 405px;
    margin-top: 20px;
}

#despedida > h1 {
    color: white;
    font-family: 'Oswald', sans-serif;;
    font-size: 2.5em;
    text-shadow: 4px 5px 3px rgba(0, 0, 0, 0.425);
    text-align: center;
    padding-top: 50px;
}

#despedida > p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    text-align: center;
    margin-top: 50px;
}

#redes {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#redes div {
    height: 50px;
    width: 50px;
    margin: 0px 30px;
    border-radius: 50%;
}

#whatsapp {
    background-image: url('images/whatsapp-icon.png');
}

#facebook {
    background-image: url('images/facebook-icon.png');
}

#instagram {
    background-image: url('images/instagram-icon.png');
}

#twitter {
    background-image: url('images/twitter-icon.png');
}

.cor-botoes {
    background-color: var(--red);
}